.elementor-689 .elementor-element.elementor-element-83dfd2b{--display:flex;--background-transition:0.3s;--padding-top:10%;--padding-bottom:10%;--padding-left:10%;--padding-right:10%;}#elementor-popup-modal-689 .dialog-widget-content{animation-duration:0.5s;border-radius:18px 18px 18px 18px;box-shadow:2px 8px 23px 3px rgba(0,0,0,0.2);}#elementor-popup-modal-689{background-color:rgba(0,0,0,.8);justify-content:center;align-items:center;pointer-events:all;}#elementor-popup-modal-689 .dialog-message{width:550px;height:auto;}#elementor-popup-modal-689 .dialog-close-button{display:flex;}/* Start custom CSS */.elementor.elementor-689.elementor-location-popup {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 18px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15.8px);
    border: 1px solid rgba(255, 255, 255, 0.26);
}

.elementor-field-type-hidden {
    display: none;
}/* End custom CSS */